.logo {
  a {
    display: block;
    width: 130px;
  }

  img {
    width: 100%;
  }
}

.usa-disclaimer {
  font-size: 0.8em;

  .usa-grid {
    padding: 0;
  }
}

.usa-disclaimer-official{
  padding-left:2rem;
}
.usa-disclaimer-stage {
  padding-right:3rem;
}

.usa-hero-navbar{
  @include clearfix;
  padding-top: 1.5em;

  ul{
    color:#fff;
    margin: 0 auto;

    li{
      float: left;
      margin: 0 auto;
      width: 135px;

      &:before{
        content:"";
      }

      a{
        color:$color-white;
        &:visited{
          color:$color-white;
        }
      }
    }
  }

  a{

    &:visited{
      color:$color-primary;
    }

    &:hover{
      text-decoration:none;
    }
  }
}
